@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1747911577365') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqing:before {
  content: "\e681";
}

.icon-tupian:before {
  content: "\e63b";
}

.icon-wenjianjia:before {
  content: "\e63c";
}

.icon-shezhi:before {
  content: "\e682";
}

.icon-xiaoxi:before {
  content: "\e6e5";
}

